<form hlmCard [formGroup]="registerForm" (ngSubmit)="onSubmit()">
	<div hlmCardHeader>
		<h1 hlmCardTitle>Register</h1>

		<p hlmCardDescription>
			Please fill out the register form to create an account.
		</p>
	</div>

	<p hlmCardContent class="grid grid-cols-2 grid-rows-3 gap-x-3.5">
		<label class="my-4 block" hlmLabel>
			First Name
			<input
				class="mt-1.5 w-full"
				type="text"
				hlmInput
				formControlName="firstName"
			/>
		</label>

		@if (registerForm.controls.firstName.dirty) {
			@if (registerForm.controls.firstName.hasError("required")) {
				<p class="text-red-500">Please provide your first name.</p>
			}
		}

		<label class="my-4 block" hlmLabel>
			Last Name
			<input
				class="mt-1.5 w-full"
				type="text"
				hlmInput
				formControlName="lastName"
			/>
		</label>

		@if (registerForm.controls.lastName.dirty) {
			@if (registerForm.controls.lastName.hasError("required")) {
				<p class="text-red-500">Please provide your last name.</p>
			}
		}

		<label class="col-span-2 my-4 block" hlmLabel>
			Email
			<input
				class="mt-1.5 w-full"
				type="email"
				hlmInput
				formControlName="email"
			/>
		</label>

		@if (registerForm.controls.email.dirty) {
			@if (registerForm.controls.email.hasError("required")) {
				<p class="text-red-500">Please provide your email.</p>
			} @else if (registerForm.controls.email.hasError("email")) {
				<p class="text-red-500">Provided email is of wrong format.</p>
			}
		}

		<label class="my-4 block" hlmLabel>
			Password
			<input
				class="mt-1.5 w-full"
				type="password"
				hlmInput
				formControlName="password"
			/>
		</label>

		@if (registerForm.controls.password.dirty) {
			@if (registerForm.controls.password.hasError("required")) {
				<p class="text-red-500">Please provide your password.</p>
			} @else if (registerForm.controls.email.hasError("pattern")) {
				<p class="text-red-500">
					Password has to be min. 8 characters in length have an uppercase and
					lowercase letter and a digit.
				</p>
			}
		}
		<label class="my-4 block" hlmLabel>
			Confirm Password
			<input
				class="mt-1.5 w-full"
				type="password"
				hlmInput
				formControlName="confirmPassword"
			/>
		</label>

		@if (registerForm.controls.confirmPassword.dirty) {
			@if (registerForm.hasError("passwordMismatch")) {
				<p class="text-red-500">Passwords are different.</p>
			}
		}
	</p>

	<div hlmCardFooter>
		<button hlmBtn type="submit">Register</button>
	</div>
</form>
