<div class="md:min-w-[800px]">
	<div
		class="flex max-w-screen-sm flex-col justify-between gap-4 sm:max-w-none sm:flex-row"
	>
		<input
			hlmInput
			class="w-full md:w-80"
			placeholder="Filter names..."
			[ngModel]="_nameFilter()"
			(ngModelChange)="_rawFilterInput.set($event)"
		/>

		<label for="is in europe checkbox" class="flex items-center" hlmLabel>
			<brn-checkbox
				name="is in europe aheckbox"
				class="mr-2"
				[ngModel]="_inEuropeCheckbox()"
				(ngModelChange)="handleToggleInEuropeCheckbox()"
				hlm
			>
				<hlm-checkbox-checkicon />
			</brn-checkbox>

			Show only in Europe
		</label>

		<div class="flex gap-4">
			<button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
				Columns
				<hlm-icon name="radixChevronDown" class="ml-2" size="sm" />
			</button>

			@if (authStore.user()) {
				<button
					hlmBtn
					variant="default"
					class="bg-green-400 hover:bg-green-300"
					routerLink="create"
				>
					<hlm-icon name="radixFilePlus" size="sm" class="text-green-800" />
				</button>
			}
		</div>

		<ng-template #menu>
			<hlm-menu class="w-44">
				@for (columnName of _brnColumnManager.allColumns; track columnName) {
					<button
						hlmMenuItemCheckbox
						[disabled]="_brnColumnManager.isColumnDisabled(columnName)"
						[checked]="_brnColumnManager.isColumnVisible(columnName)"
						(triggered)="_brnColumnManager.toggleVisibility(columnName)"
					>
						<hlm-menu-item-check />
						<span>{{ columnName | snakeCaseToSeparateCapitalized }}</span>
					</button>
				}
			</hlm-menu>
		</ng-template>
	</div>

	<brn-table
		hlm
		stickyHeader
		class="mt-4 block h-[335px] overflow-auto rounded-md border border-border"
		[dataSource]="_filteredSortedPaginatedCountries()"
		[displayedColumns]="_allDisplayedColumns()"
		[trackBy]="_trackBy"
	>
		<brn-column-def name="name">
			<hlm-th class="w-44" *brnHeaderDef>
				<button
					hlmBtn
					size="sm"
					variant="ghost"
					(click)="handleNameSortChange()"
				>
					Name
					<hlm-icon class="ml-3" size="sm" name="radixCaretSort" />
				</button>
			</hlm-th>

			<hlm-td truncate class="w-44" *brnCellDef="let country">
				{{ country.name }}
			</hlm-td>
		</brn-column-def>

		<brn-column-def name="gdp">
			<hlm-th class="flex-1" *brnHeaderDef>
				<button
					hlmBtn
					size="sm"
					variant="ghost"
					(click)="handleGdpSortChange()"
				>
					GDP
					<hlm-icon class="ml-3" size="sm" name="radixCaretSort" />
				</button>
			</hlm-th>

			<hlm-td
				class="font-medium tabular-nums lg:flex-1"
				*brnCellDef="let country"
			>
				$ {{ country.gdp | number: "1.2-2" }}
			</hlm-td>
		</brn-column-def>

		<brn-column-def name="is_in_europe">
			<hlm-th class="w-32 justify-center" *brnHeaderDef>Is in Europe</hlm-th>

			<hlm-td
				class="w-32 justify-center font-medium tabular-nums"
				*brnCellDef="let country"
			>
				@if (country.isInEurope) {
					<hlm-icon name="radixCheck" class="ml-2 text-green-900" size="sm" />
				} @else {
					<hlm-icon name="radixCross2" class="ml-2 text-red-900" size="sm" />
				}
			</hlm-td>
		</brn-column-def>

		<brn-column-def name="formation_year">
			<hlm-th class="w-48" *brnHeaderDef>
				<button
					hlmBtn
					size="sm"
					variant="ghost"
					(click)="handleFormationYearSortChange()"
				>
					Formation Year
					<hlm-icon class="ml-3 tabular-nums" size="sm" name="radixCaretSort" />
				</button>
			</hlm-th>

			<hlm-td
				class="w-48 justify-center font-medium tabular-nums"
				*brnCellDef="let country"
			>
				{{ country.formationYear }}
			</hlm-td>
		</brn-column-def>

		<brn-column-def name="actions">
			<hlm-th class="ml-auto mr-0 w-16 justify-center" *brnHeaderDef></hlm-th>

			<hlm-td
				class="ml-auto mr-0 w-16 justify-center"
				*brnCellDef="let country"
			>
				<hlm-tooltip>
					<button
						hlmTooltipTrigger
						hlmBtn
						variant="ghost"
						aria-describedby="Go to details"
						class="h-6 w-6 p-0.5"
						align="end"
						[routerLink]="country.id"
					>
						<hlm-icon class="h-4 w-4" name="radixFileText" />
					</button>

					<span *brnTooltipContent>Go to details</span>
				</hlm-tooltip>
			</hlm-td>
		</brn-column-def>

		<div
			class="flex items-center justify-center p-20 text-muted-foreground"
			brnNoDataRow
		>
			@if (countries.isPending()) {
				Loading...
			} @else if (countries.isError()) {
				Something went wrong :( <br />
				Please try again later
			} @else {
				No data
			}
		</div>
	</brn-table>
	<div
		class="mt-4 flex flex-col justify-between sm:flex-row sm:items-center"
		*brnPaginator="
			let ctx;
			totalElements: _totalCountries();
			pageSize: _pageSize();
			onStateChange: _onStateChange
		"
	>
		<span class="text-sm">{{ _totalCountries() }} row(s) </span>

		<div class="mt-2 flex sm:mt-0">
			<select
				[ngModel]="_pageSize()"
				(ngModelChange)="_pageSize.set($event)"
				hlmInput
				size="sm"
				class="mr-1 inline-flex pr-8"
			>
				@for (size of _availablePageSizes; track size) {
					<option [value]="size">{{ size === 10_000 ? "All" : size }}</option>
				}
			</select>

			<div class="flex space-x-1">
				<button
					size="sm"
					variant="outline"
					hlmBtn
					[disabled]="!ctx.decrementable()"
					(click)="ctx.decrement()"
				>
					Previous
				</button>
				<button
					size="sm"
					variant="outline"
					hlmBtn
					[disabled]="!ctx.incrementable()"
					(click)="ctx.increment()"
				>
					Next
				</button>
			</div>
		</div>
	</div>
</div>
